* {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2d42;
}

img {
  vertical-align: middle;
}

section {
  width: 50vw;
};

table {
  border-collapse: collapse;
};

tr {
  height: 30px;
}

td {
  text-align: center;
  vertical-align: middle;
}

th button {
border: none;
background: none;
font-size: 16px;
font-weight: 700;
background-color: #8d99ae;
color: #edf2f4;
};

.league-header {
  text-align: center;
}

.row {
  border: 1px solid #8d99ae;
}

#header {
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: space-evenly;
}

/* 
Adding section width got rid of border around rows

Need to get league headers centered over tables
Need to get width of tables static so headers don't jump around while loading
Need to make it responsive and move the tables vertical to each other on mobile or more narrow screens
*/