img {
  vertical-align: middle;
}

tr {
  height: 30px;
}

td {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.header-row {
  font-weight: 700;

}

.league-header {
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
}

#main {
  display: flex;
  justify-content: space-evenly;
}