* {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2d42;
}

img {
  vertical-align: middle;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
};

tr {
  height: 30px;
}

td {
  text-align: center;
  vertical-align: middle;
}

th {
  border: none;
}

th button {
border: none;
background: none;
font-size: 16px;
font-weight: 700;
background-color: #8d99ae;
color: #edf2f4;
height: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
};

th button::after {
  position: absolute;
  right: 0.5rem;
}
th button[data-dir="asc"]::after {
  content: url('../assets/triangle-small-up.svg');
  filter: invert(99%) sepia(1%) saturate(1028%) hue-rotate(167deg) brightness(97%) contrast(97%);
  display: block;
  height: 1em;
  width: 1em;
}
th button[data-dir="desc"]::after {
  content: url('../assets/triangle-small-down.svg');
  filter: invert(99%) sepia(1%) saturate(1028%) hue-rotate(167deg) brightness(97%) contrast(97%);
  display: block;
  height: 1em;
  width: 1em;
}

.league-header {
  text-align: center;
}

.header-cell {
  padding: 0;
}

tbody tr {
  border: 1px solid #8d99ae;
}

#header {
  display: flex;
  justify-content: center;
}

#main {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

/* 
Highlight which column has been sorted
Need to get width of tables static so headers don't jump around while loading
Need to make it responsive and move the tables vertical to each other on mobile or more narrow screens
At 1024px width need to shift to vertical alignment of the tables
*/